/src/php-fpm/node_modules
/src/php-fpm/public/build
/src/php-fpm/public/hot
/src/php-fpm/public/storage
/src/php-fpm/storage/*.key
/src/php-fpm/vendor
/src/php-fpm/.env
/src/php-fpm/.env.backup
/src/php-fpm/.phpunit.result.cache
/src/php-fpm/Homestead.json
/src/php-fpm/Homestead.yaml
/src/php-fpm/auth.json
/src/php-fpm/npm-debug.log
/src/php-fpm/yarn-error.log
/.idea
/.vscode
/logs
/docker/mysql/data